[Unit]
Description=Glances Web Server
After=network.target

[Service]
Type=simple
# Run as root to access hardware sensors/SMART data without restrictions
User=root
Group=root
ExecStart={{ glances_venvPath }}/bin/glances -w -p {{ glances_port }} -B {{ glances_bindAddress }}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
