[defaults]
inventory = inventory.ini
host_key_checking = False
stdout_callback = default
display_skipped_hosts = False
result_format = yaml
bin_ansible_callbacks = True
roles_path = ./roles
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 3600
vault_password_file = .ansible_vault_pass
deprecation_warnings = True

[ssh_connection]
pipelining = True

[privilege_escalation]
become = True
become_method = sudo
