# {{ ansible_managed }}
# Intel Power & Efficiency Tuning
# See: https://www.kernel.org/doc/html/latest/admin-guide/pm/intel_pstate.html
#      https://www.kernel.org/doc/html/latest/power/powercap/powercap.html

# Type Path Mode UID GID Age Argument
w /sys/class/powercap/intel-rapl:0/constraint_0_power_limit_uw - - - - {{ hardware_intelRaplPl1LimitMicrowatts }}
w /sys/class/powercap/intel-rapl:0/constraint_1_power_limit_uw - - - - {{ hardware_intelRaplPl2LimitMicrowatts }}
w /sys/devices/system/cpu/intel_pstate/max_perf_pct - - - - {{ hardware_intelPstateMaxPerfPct }}
w /sys/devices/system/cpu/intel_pstate/no_turbo - - - - {{ hardware_intelPstateNoTurbo }}