# Dynamic overrides for Akash Provider
provider:
  moniker: "{{ akash_nodeMoniker }}"
  domain: "{{ akash_providerDomain }}"
  attributes: "{{ akash_full_attributes }}"
  bidPriceScript: "{{ akash_bidPriceScript | default('') }}"
node:
  chainId: "{{ akash_chainId }}"
  rpcEndpoint: "{{ akash_nodeRpc }}"
keyring:
  backend: "{{ akash_keyringBackend }}"
