---
k8sServiceHost: "{{ tailscale_ip }}"
k8sServicePort: 6443

kubeProxyReplacement: true

socketLB:
  enabled: true
  hostNamespaceOnly: true

devices: "{{ cilium_devices }}"

gatewayAPI:
  enabled: true
  gatewayClass:
    create: auto
  secretsNamespace:
    create: true
    name: cilium-secrets
    sync: true

hubble:
  enabled: true
  metrics:
    enabled:
      - dns:query;ignoreAAAA
      - drop
      - tcp
      - flow
      - icmp
      - http
    port: 9965
    enableOpenMetrics: false
  relay:
    enabled: true
    replicas: 1
    prometheus:
      enabled: false
  ui:
    enabled: true
    replicas: 1
  tls:
    auto:
      enabled: true
      method: helm
      certValidityDuration: 365

bpf:
  autoMount:
    enabled: true
  root: /sys/fs/bpf
  masquerade: true
  preallocateMaps: true
  distributedLRU:
    enabled: true
  lbMapMax: 131072
  ctAccounting: false
  events:
    drop:
      enabled: true
    policyVerdict:
      enabled: true
    trace:
      enabled: true

bandwidthManager:
  enabled: true
  bbr: true

ipam:
  mode: "cluster-pool"
  operator:
    clusterPoolIPv4PodCIDRList: ["10.0.0.0/8"]
    clusterPoolIPv4MaskSize: 24

routingMode: "tunnel"

tunnelProtocol: "vxlan"

# Explicit MTU for Tailscale (1280) - VXLAN (50) = 1230
mtu: 1230

endpointHealthChecking:
  enabled: true

k8sNetworkPolicy:
  enabled: true

defaultLBServiceIPAM: lbipam

operator:
  replicas: 1

debug:
  enabled: false

rbac:
  create: true
