apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: oci-vault
spec:
  provider:
    oracle:
      vault: "{{ lookup('ini', 'vault', section='DEFAULT', file=oci_configFile) }}"
      region: "{{ lookup('ini', 'region', section='DEFAULT', file=oci_configFile) }}"
      principalType: UserPrincipal
      auth:
        user: "{{ lookup('ini', 'user', section='DEFAULT', file=oci_configFile) }}"
        tenancy: "{{ lookup('ini', 'tenancy', section='DEFAULT', file=oci_configFile) }}"
        secretRef:
          privatekey:
            name: oracle-secret
            key: privateKey
            namespace: "{{ externalSecrets_namespace }}"
          fingerprint:
            name: oracle-secret
            key: fingerprint
            namespace: "{{ externalSecrets_namespace }}"
