apiVersion: v1
kind: Secret
metadata:
  name: oracle-secret
  namespace: "{{ externalSecrets_namespace }}"
  labels:
    type: oracle
type: Opaque
stringData:
  privateKey: |
    {{ lookup('file', lookup('ini', 'key_file', section='DEFAULT', file=oci_configFile)) | indent(4) }}
  fingerprint: "{{ lookup('ini', 'fingerprint', section='DEFAULT', file=oci_configFile) }}"
